.header-wrapper {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 24px;
}

.header-box{
    width:100%;
    min-height: 600px;
    height: auto;

    background-image:
        linear-gradient(
            to right,
            rgba(0,0,0,.75),
            rgba(0,0,0,.45),
            rgba(0,0,0,.1)
        ),
        url("/hero-bg/bg.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    border-radius:10px;

    display:flex;
    align-items:center;

    padding-left: clamp(24px, 5vw, 85px);
    padding-right: 24px;
}

.header-content{
    max-width:490px;
}

.header-content h1{
    font-family:"Fraunces",serif;
    font-size: clamp(36px, 8vw, 72px);
    line-height:1.1;
    color:#FEFCF7;
    margin-bottom:32px;
}

.header-content p{
    font-family:"Barlow",sans-serif;
    font-size: clamp(14px, 4vw, 16px);
    line-height:1.6;
    color:#FEFCF7;
    opacity:.8;
    margin-bottom:56px;
}

.header-content button{
    width:217px;
    height:56px;

    border:none;
    border-radius:6px;

    background:#0E8784;
    color:white;

    font-family:"Fraunces",serif;
    font-size:18px;
    cursor:pointer;

    transition:.3s;
}

.header-content button:hover{
    background:#66D2CF;
}